.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-out, visibility 0.1s ease-out;
  overflow: hidden;
}

.overlayVisible {
  visibility: visible;
  opacity: 1;

  .drawer {
    transform: translateX(0);
  }
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 0 30px;

  h2 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin: 0;
    margin-bottom: 30px;

    img {
      cursor: pointer;
    }
  }

  .items {
    flex: 1;
    overflow: auto;
    margin-bottom: 40px;
  }

  .cartTotalBlock {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
  
    ul {
      padding: 0;
      margin: 0;
      margin-bottom: 20px;
    }

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
      padding: 0;
    }

    .dashedLine {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      margin: 0 10px;
      position: relative;
      top: -4px;
    }

    .greenButton {
      position: relative;
      width: 100%;

      &:hover {
        img {
          transform: translateX(5px);
        }
      }

      img {
        position: absolute;
        right: 30px;
        top: 20px;
        transition: transform 0.15s ease-in-out;
      }
    }
  }

  .greenButton {
    margin-top: 10px;
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: #a9e265;
    }

    &:active {
      background: #8fc44d;
    }
  }
}

.drawerHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.fullCart {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
}

.dashedLine {
  flex: 1;
  height: 1px;
  border-bottom: 1px dashed #dfdfdf;
  margin: 0 10px;
  position: relative;
  top: -4px;
}

.cartItem {
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 0 20px;
  margin-bottom: 20px;

  p {
    font-size: 16px;
  }

  b {
    font-size: 14px;
  }

  .cartItemImg {
    height: 150px;
    width: 150px;
    background-size: contain;
    background-position: 0 30px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  .cartItemInfo {
    margin: 20px;
  }

  .cartItemBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}